body{
  background-color: #93EE85;
}

.container {
  position: relative;
  width: 70%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
}

.container:hover .image {
  opacity: 0.3;
}