<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css')}} />
</head>

<body>
    
    <h1>Spotify NEW Releases</h1>
    
    <ol>
        
        {%for i in range(0, NUM_SONGS)%} 
            
            <li><b>{{song_names[i]}}</b></li>
            <span>by {{artist_names[i]}}</span>
            <br>
            
            <div class="container">
                <img src={{song_pic[i]}} class="image">
            </div>
            
            
            {%if song_preview[i] != none%}
                <audio src={{song_preview[i]}} controls>Preview song</audio>
            {%endif%}
            
            <p><a href={{song_url[i]}}>Listen on Spotify</a></p>
            
        {%endfor%} 
        
    </ol>
    
    <audio src=
</body>

</html>