<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css')}} />
</head>

<body>
    
    <h1>Discover NEW Releases</h1>
    
    
        
        {%for i in range(0, NUM_SONGS)%} 
        
            <div class="container">
                
                <img src={{song_pic[i]}} class="image">
                
                <div class="artist_info">
                    
                    <div class="title_text">{{song_names[i]}}</div>
                    <div class="name_text">{{artist_names[i]}}</div>
                    
                    <br>
                    <a class="spotify-link" href={{song_url[i]}} target="_blank">Listen on Spotify</a>
                    <br>
                    <br>
                    <a class="genius-link" href={{genius_link[i]}} target="_blank">GENIUS Lyrics<a/>
                
                </div>
                
                
                {%if song_preview[i] != none%}
                    <div class="audio-container">
                        <audio src={{song_preview[i]}} controls>Preview song</audio>
                    </div>
                {%endif%}
                
                <br>
                <br>
                
            </div> 
            
        {%endfor%} 
        
      
    
</body>

</html>